HaberSitesi/HaberSitesi/Connected Services/ServiceReference/SampleWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dotnet-revanth.blogspot.com/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dotnet-revanth.blogspot.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dotnet-revanth.blogspot.com/webservices">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberGiris">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaberBasligi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberGirisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaberGirisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="kimliknumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tc_No" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="kimliknumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kimliknumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HaberGirisSoapIn">
    <wsdl:part name="parameters" element="tns:HaberGiris" />
  </wsdl:message>
  <wsdl:message name="HaberGirisSoapOut">
    <wsdl:part name="parameters" element="tns:HaberGirisResponse" />
  </wsdl:message>
  <wsdl:message name="kimliknumberSoapIn">
    <wsdl:part name="parameters" element="tns:kimliknumber" />
  </wsdl:message>
  <wsdl:message name="kimliknumberSoapOut">
    <wsdl:part name="parameters" element="tns:kimliknumberResponse" />
  </wsdl:message>
  <wsdl:portType name="SampleWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaberGiris">
      <wsdl:input message="tns:HaberGirisSoapIn" />
      <wsdl:output message="tns:HaberGirisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="kimliknumber">
      <wsdl:input message="tns:kimliknumberSoapIn" />
      <wsdl:output message="tns:kimliknumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleWebServiceSoap" type="tns:SampleWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://dotnet-revanth.blogspot.com/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberGiris">
      <soap:operation soapAction="http://dotnet-revanth.blogspot.com/webservices/HaberGiris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kimliknumber">
      <soap:operation soapAction="http://dotnet-revanth.blogspot.com/webservices/kimliknumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SampleWebServiceSoap12" type="tns:SampleWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://dotnet-revanth.blogspot.com/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberGiris">
      <soap12:operation soapAction="http://dotnet-revanth.blogspot.com/webservices/HaberGiris" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kimliknumber">
      <soap12:operation soapAction="http://dotnet-revanth.blogspot.com/webservices/kimliknumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleWebService">
    <wsdl:port name="SampleWebServiceSoap" binding="tns:SampleWebServiceSoap">
      <soap:address location="http://localhost:5059/SampleWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SampleWebServiceSoap12" binding="tns:SampleWebServiceSoap12">
      <soap12:address location="http://localhost:5059/SampleWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>